@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PublicSans";
  src: local("PublicSans Regular"),
    url("../utility/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b0b0b0;
}
